/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* ############# Header #####################*/
header {
    height: 79px;
    display: flex;
    justify-content: space-between;
}
/* Logo du Header */
header div {
    display: flex;
    max-width: 161px;
    width: 100%;
    align-items: center;
    
}

header img {
    width: 61px;
    height: 19px;
}

/* Nav */

nav {
    max-width: 344px;
    height: 35px;
}

nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 68px;
}

nav li {
    display: flex;
}

/* Hover du nav */
nav li:hover {
    padding-top: 22px;
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

/* ###### Section Info Groupe ############# */
.infoGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}
/* HeadLine */
.headLine {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 53px;
    gap: 8px;
}
.headLine h1 {
    height: 26px;
}

/* Search-Bar (C'est un form) */
.searchBar {
    display: flex;
    width: 377px;
    height: 49px;
    color: white;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 15px;
}

/* Point Localisation background + changement de couleur */
.bkndLocationDot {
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
i.fa-solid.fa-location-dot {
    font-size: 18px;
    color: black;
}

/* Toujours Search Bar, ce coup-ci on est sur le
form, ou l'on a le input texte et le bouton submit */
.searchBar form {
    display: flex;
}

.searchBar input {
    width: 174px;
    height: 100%;
    border-style: none;
    padding: 0px;
}

.searchBar input.textForm {
    padding-left: 24px;
}
/* Ajustement du bouton submit et passage du logo rechercher
en invisible car utiliser seulement en version téléphone. */
.searchBtn i{
    display: none;
}

.searchBtn {
    width: 132px;
    height: 100%;
    background-color: #0065FC;
    border: 1px solid rgba(0, 101, 252, 1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0px;
    color: white;
}

/* Taille et gras des textes affichés */
.textForm {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

/* Petit hover sur le bouton rechercher */
.searchBtn:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/* Filter Bar, le texte filtre est dans une div différente du reste de la liste */
.filterBar {
    display: flex; 
    height: 50px;
    gap: 15px;
    align-items: start;
}

/* Gap entre les filtres cliquables */
.filterBtns {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}
/* Ajustement de la taille des Icones */
.filterCard .fa-solid {
    font-size: 22px;
}
/* Aspects des filtres cliquables */
.filterCard {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 38px;
    gap: 10px;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
}

/* Petit hover sur les filtres cliquables */
.filterCard:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}

/*  Info Bar */
.infoBar {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
/* Css de l'icone de InfoBar */
.infoBar i {
    display: flex;
    font-size: 10px;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 24px;
}

/* ####### Section Hébergement Main Offers ###### */
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* Mise en place d'un grid pour l'affichage des cards hebergement */
.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    margin: 0;
}
/* paramétrage des cards; Image, textes + étoiles */
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;

}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap: 8px;
    justify-content: center;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-rating {
    display: flex;
    height: 13.25px;
    align-items: center;
}

/* ######## Section Activité ################## */
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
/* Titre h2 ajustement de la hauteur pour respecter celle de la maquette */
.activites h2 {
    height: 30px;
}
/* Css des cards de activités */
.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;
}

.activites .card {
    display: flex;
    flex-direction: column;
    max-width: 297.5px;
    width: 100%;
    padding: 0;
}

.activites img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites h3.card-title {
    display: flex;
    padding: 20px 19px;
    align-items: center;

}

/* ###### Css du Footer ######## */
.divFooter {
    display: flex;
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
}

.listeFooter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    gap: 15px;
}

/* Ajustement des tailles de mes grids version desktop*/

@media (min-width: 1091px) and (max-width: 1300px)  {
    .hebergements .card-content {
        height: 83.25px;
    }
    .activites h3.card-title {
        height: 38px;
    }
}
@media (min-width: 1025px) and (max-width: 1090px) {
    .hebergements .card-content {
        height: 99.25px;
    }
    .activites h3.card-title {
        height: 38px;
    }
}

/* ############### Responsive Tablette ##################### */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /* #### Info Group ##### */
    /* Filter Bar, seul chose chnager pour la version tablette dans Group Info */
    .filterBar {
        flex-direction: column;
        gap: 20px;
        height: 91px;
    }

    /* ####  Section group ##### */
    /* Ajustement du gap entre les deux sections */
    .hebergements-and-populaires {
        gap: 50px;
    }
    /* ##### Section activites ##### */
    .activites img {
        height: 200px;
    }
    .activites h3.card-title {
        height: 38px;
    }
}
/* Ajustement de mes grids pour la version tablette */
@media (min-width: 768px) and (max-width: 884px){
    .hebergements .card-content {
        height: 83.25px;
    }
}

@media (min-width: 768px) and (max-width: 825px){
    .activites h3.card-title {
        height: 57px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    
    /* Retrait du padding 50px sur les bords */
    .main-container {
        padding: 0px;
        max-width: 767px;
    }

    /* #### Header ##### */
    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    header div {
        height: 79px;
        justify-content: center;
    }
    nav { 
        max-width: 767px;
        width: 100%;
    }

    nav ul {
        width: 100%;
        gap: 0px;
    }

    nav li {
        max-width: 383.5px;
        height: 34px;
        width: 100%;
        justify-content: space-around;
    }

    nav li:hover {
        padding: 0px;
        border: none;
        border-bottom: #0065FC solid 2px;
    }

    /* #### Group info #### */
    .infoGroup {
        width: 100%;
        padding: 0px 20px;
        align-items: space-around;
        align-self: center;
    }
    /* HeadLine */
    .headLine {
        height: 79px;
    }
    .headLine h1 {
        height: 52px;
    }

    
    /* Search Bar changement de l'icone */
    .searchBar {
        width: 335px;
    }
    .searchBar input {
        width: 211px;
    }
    .searchBtn {
        width: 50px;
        border-radius: 15px;
    }

    .searchBtn .textForm {
        display: none;
    }
    .searchBtn i{
        display: flex;
        color: white;
        font-size: 17px;
        padding-left: 16px;
    }

    /* Filter Bar ajustement longeur des boutons + wrap */
    .filterBar {
        height: 161px;
        width: 335px;
    }

    .filterBtns {
        gap: 10px;
        flex-wrap: wrap;
    }

    .filterCard {
        width: 120.5px;
        gap: 10px;
    }
    .filterBtns .textForm {
        font-size: 14px;
    }
    .filterCard .fa-solid {
        font-size: 20px;
    }
    /* Info Bar */
    .infoBar {
        height: 38px;
    }
    /* #### Hebergement et populaire ##########*/
    .hebergements-and-populaires {
        padding: 0px;
        gap: 15px;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    /* ##### Section populaire ###### */
    section.populaires {
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

    /* #### Section hebergement ###### */
    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 20px;
        gap: 15px;
    }
    /* Passage de la grid hebergement sur une seule colone  */
    .hebergements-cards {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    /* ###### Section activités ####### */
    .activites-cards {
        grid-template-columns: 1fr; 
        gap: 15px;
    }
    .activites .card {
        max-width: 767px;
    }
    .activites-cards img {
        height: 141px;
    }
    .activites h3.card-title {
        height: 100%;
    }

    /* ###### Footer ####### */
    .divFooter {
        flex-direction: column;
    }
    .listeFooter {
        padding: 25px 30px;
    }
}
